@media all and (min-width: 480px) {
  .Login {
    background-image: url(./splash.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding: 60px 0;
  }
  
  .Login .body {
    max-width: 400px;
    margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .Login .logo {
    margin: auto 4rem 3rem;
  }

  .Login .logo img {
    width: 55px;
    height: 100%;
  }
  
  .Login .logo span {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.5rem;
    vertical-align: middle;
    margin-left: 20px;
  }

  .Login form {
    background-color: #14181C;
    opacity: .72;
    padding: 50px;
    box-shadow: 0 0 16px 2px #101010b8;

  }
  
  .Login .rc-tabs.rc-tabs-top {
    border:0;
  }

  .Login .rc-tabs.rc-tabs-top .rc-tabs-bar{
    margin-top: -20px;
    margin-bottom: 2.2rem;
    border-bottom: 0;
  }
  .Login .rc-tabs-top .rc-tabs-ink-bar {
    background-color: white;
  }
  .Login .rc-tabs-tab-active.rc-tabs-tab{
    color:white !important;
  }
  .Login .rc-tabs-top .rc-tabs-tab {
    font-size: 22px;
    color: #858585;
    padding-top: 12px;
  }

  .Login .rc-tabs-tabpane {
    overflow: hidden;
  }

  .Login .form-control,
  .Login input.form-control:-webkit-autofill {
    border: 0;
    margin-bottom: 33px;
    border-radius: 0;
    color: var(--text);
    background-color: transparent !important;
    border-bottom: solid 2px var(--primary_dark);
    transition: border-bottom 200ms;
  }

  .Login .form-control:focus {
    border-bottom: solid 2px var(--primary);
    box-shadow: 0 0 black;
  }

  .Login form .row i {
    border-bottom: solid 2px var(--primary_dark);
    padding: 10px 18px;
    margin-left: -30px;
    transition: filter 200ms;
  }

  .Login form .row i:hover{
    filter:brightness(110%);
    cursor: pointer;
  }

  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}


