@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: auto auto;
    max-width: 400px;
    background-color: #14181C;
    opacity: .72;
    padding: 50px;
  }

  .Login .form-control,
  .Login input.form-control:-webkit-autofill {
    border: 0;
    margin-bottom: 33px;
    border-radius: 0;
    color: var(--text);
    background-color: transparent !important;
    border-bottom: solid 2px var(--primary_dark);
    transition: border-bottom 200ms;
  }

  .Login .form-control:focus {
    border-bottom: solid 2px var(--primary);
    box-shadow: 0 0 black;
  }

  .Login {
    background-image: url(./splash.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .Signup {
    padding: 60px 0;
  }

  .Signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}


